<div >
  <h1 mat-dialog-title style="margin-bottom: 30px">Update Employee</h1>

<!--&lt;!&ndash;  first name field&ndash;&gt;-->
<!--  <div>-->
<!--    <div>-->
<!--      <label style="padding-right: 40px">First-Name</label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <input type="text" placeholder="first name" class="input-style">-->
<!--    </div>-->
<!--  </div>-->

<!--&lt;!&ndash;  last name field&ndash;&gt;-->
<!--  <div style="padding-top: 10px">-->
<!--    <div>-->
<!--      <label>Last Name</label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <input placeholder="last name" class="input-style">-->
<!--    </div>-->
<!--  </div>-->

<!--&lt;!&ndash;  Gender field&ndash;&gt;-->
<!--  <div style="padding-top: 10px">-->
<!--    <div>-->
<!--      <label>Gender</label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <input type="text" placeholder="gender" class="input-style">-->
<!--    </div>-->
<!--  </div>-->

<!--&lt;!&ndash;  Email Field&ndash;&gt;-->
<!--  <div style="padding-top: 10px">-->
<!--    <div>-->
<!--      <label>Email</label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <input type="text" placeholder="email" class="input-style">-->
<!--    </div>-->
<!--  </div>-->

<!--&lt;!&ndash;  Employee-Type&ndash;&gt;-->
<!--  <div style="padding-top: 10px">-->
<!--    <div>-->
<!--      <label>Employee-Type</label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <input type="text" placeholder="employee type" class="input-style">-->
<!--    </div>-->
<!--  </div>-->

<!--  <div style="padding-top: 10px; float: right">-->
<!--    <button mat-stroked-button color="primary" style="margin: 5px">Update</button>-->
<!--    <button mat-stroked-button mat-dialog-close color="warn">Cancel</button>-->
<!--  </div>-->

  <p>
    <mat-form-field appearance="outline" style="width: 400px;">
      <mat-label>Enter First Name</mat-label>
      <input matInput placeholder="first name" style="width: 500px">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" style="width: 400px;">
      <mat-label>Enter Last Name</mat-label>
      <input matInput placeholder="last name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" style="width: 400px;">
      <mat-label>Enter Gender </mat-label>
      <input matInput placeholder="gender">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" style="width: 400px;">
      <mat-label>Enter Email</mat-label>
      <input matInput placeholder="email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" style="width: 400px;">
      <mat-label>Enter Emp-Type</mat-label>
      <input matInput placeholder="emp-type">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
<!--      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>

    <div style="padding-top: 10px; float: right">
      <button mat-stroked-button color="primary" style="margin: 5px">Update</button>
      <button mat-stroked-button mat-dialog-close color="warn">Cancel</button>
    </div>
</div>
