/*.main-style{*/
/*  width: 90%;*/
/*  margin: auto;*/
/*  display: flex;*/
/*}*/
/*.input-style{*/
/*  padding: 10px;*/
/*  margin: 10px 50px 10px 10px;*/
/*}*/
/*.show-style{*/
/*  padding: 10px;*/
/*  margin: 10px;*/
/*}*/



