
<!--<div class="main-style">-->
<!--    <app-input class="input-style" ></app-input>-->
<!--    <app-show class="show-style"  [emp]="employee"></app-show>-->
<!--</div>-->
<app-input></app-input>
