
<h2 style="font-size: 25px">Employee</h2>

<div style="text-align: center">
  <div style=" margin: 40px 50px 5px 50px">
    <div style="">
      <div style="padding: 0 0 20px 0">
        <img src="https://ui-avatars.com/api/?name={{data.firstname}}+{{data.lastname}}&background=random" style="border-radius: 10px">
      </div>
      <div style="display: flex">
        <div style="margin-top: 20px; margin-left: 10px; display: flex">
          <p style="font-size: 18px; margin-right: 5px">{{data.firstname}}</p>
          <p style="font-size: 18px">{{data.lastname}}</p>
        </div>
        <div style="margin-left: 4px">
          <p mat-button class="but-color2" style="padding: 8px">{{data.gender}}</p>
        </div>
      </div>

    </div>

  </div>
  <p style="margin-top: 30px; font-size: 18px" >{{data.email}}</p>
  <p style="margin: 30px; font-size: 15px; color: #E91E63; font-weight: bold" >{{data.emp_type}}</p>
</div>


<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>

