
.radio{
  margin-top: 10px;
  margin-bottom: 5px;
}
.error{
  color: red;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.main-style{
  display: flex;
  margin: auto;
  width: 90%;
}

.input-style{
  padding: 10px;
  margin: 10px 50px 10px 10px;
}

.show-style{
  padding: 10px;
  margin: 10px;
  width: 100%;
}
.form-style{
  /*border: solid 2px darkgray;*/
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-style:hover{
  transform: translateY(0) scale(1.02);
}
.sizing-input{
  margin: 5px 0;
}
.position-style{
  width: 100% !important;
  border-radius: 10px !important;
}
.btn-submit{
  display: block !important;
  color: aliceblue !important;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3) !important;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
