<div class="main-style">
  <form class="input-style" [formGroup]="formInput" (ngSubmit)="onSubmit(FormDirective)" #FormDirective = "ngForm" >
    <h2>Employee Form</h2>
    <div class="form-style">
      <!--  -----email------------>
      <div class="sizing-input" style="margin-top: 0">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder" name="email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email&&email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="email&&email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <!--      <mat-hint class="error" *ngIf="email&&email.invalid&&email.touched">email is required </mat-hint>-->
          <!--      <mat-hint class="error" *ngIf="email&&email.hasError('email') && !email.hasError('required')">email is required </mat-hint>-->
        </mat-form-field>
      </div>
      <!--  -----first name------------>
      <div class="sizing-input">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Placeholder" #input maxlength="15" name="firstname" formControlName="firstname">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
          <mat-hint class="error" *ngIf="firstname&&firstname.invalid&&firstname.touched">firstname is required
          </mat-hint>
          <mat-error *ngIf="firstname&&firstname.hasError('pattern') && !firstname.hasError('required')">
           Invalid Firstname
          </mat-error>
        </mat-form-field>
      </div>
      <!--  -----last name------------>
      <div class="sizing-input">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Placeholder" #input maxlength="15" name="lastname" formControlName="lastname">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
          <mat-hint class="error" *ngIf="lastname&&lastname.invalid&&lastname.touched">lastname is required</mat-hint>
          <mat-error *ngIf="lastname&&lastname.hasError('pattern') && !lastname.hasError('required')">
            Invalid Lastname
          </mat-error>
        </mat-form-field>
      </div>
      <!--  -----gender------------>
      <div class="sizing-input">
        <label>Pick Your Gender</label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <div class="radio">
            <mat-radio-button value="Male">Male</mat-radio-button>
          </div>
          <div class="radio">
            <mat-radio-button value="Female">Female</mat-radio-button>
          </div>

        </mat-radio-group>
      </div>
      <!--  -----position------------>
      <div class="sizing-input">
        <h3 style="padding-top: 5px">Employee Type</h3>
        <mat-form-field class="position-style" appearance="fill">
          <mat-label>Position</mat-label>
          <mat-select formControlName="position">
            <mat-option *ngFor="let position of positionInput" [value]="position">
              {{position}}
            </mat-option>
          </mat-select>
          <mat-hint class="error" *ngIf="position&&position.invalid&&position.touched">position is required</mat-hint>
        </mat-form-field>
      </div>
      <div class="sizing-input" style="margin-bottom: 0">
        <button class="btn-submit" type="submit" mat-raised-button [disabled]="errorButton()"
                color="primary">Submit
        </button>
      </div>

    </div>

  </form>
  <app-show class="show-style" [emp]="employees" (empOut)="onUpdate($event)" (getIndex)="getEmpIndexForUpdate($event)"></app-show>
</div>
