
*{
  font-family: 'Poppins', sans-serif;
}
.table-style{
  width: 100% !important;
  border-radius: 10px;
  padding: 10px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.table-style:hover{
  transform: translateY(0) scale(1.01);
}

td, th {

  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}
tr:hover{
  background-color: whitesmoke;
  padding: 0;
  transform: translateX(0) scale(1.01);
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.mat-raised-button{
  padding: 0 !important;
  height:30px !important;
  /*width:48px !important;*/
  font-size: 10px !important;
}
.view-color{
  background-color: #0275d8;
  color: white;
}
.update-color{
background-color: #ffcc00;
}
.delete-color{
  background-color: crimson;
}
.btn-style{
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  /*transition: all .2s ease-in-out;*/
}
.btn-style:hover{
  transform: translateY(0) scale(1.2);
}

