<h2>Employees List</h2>
<table class="mat-elevation-z8 table-style">
<!-- header-->
  <tr>
    <th>id</th>
    <th>First-Name</th>
    <th>Last-Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Employee-Type</th>
    <th>Action</th>
  </tr>

<!--  row -->
  <tr *ngFor="let emp of employees; let indexOfelement=index;">
    <td>{{indexOfelement+1}}</td>
    <td>{{emp.firstname}}</td>
    <td>{{emp.lastname}}</td>
    <td style="text-align: left">{{emp.email}}</td>
    <td>{{emp.gender}}</td>
    <td>{{emp.position}}</td>
    <td>
      <div class="example-button-row">
        <button class="btn-style view-color"  (click)="openView(emp)">View</button>
        <button  class="btn-style update-color" (click)="onUpdate(emp,indexOfelement)">Update</button>
        <button class="btn-style delete-color" (click)="deleteData(indexOfelement)">Delete</button>
      </div>
    </td>
  </tr>
</table>

